keras==2.2.4
keras_applications==1.0.7
git+https://github.com/qubvel/efficientnet
setuptools==41.0.1
numpy==1.16.3
scipy==1.3.0
Pillow==6.0.0
scikit-image==0.15
tensorflow-gpu==1.15.4
matplotlib==3.0.3
keras==2.2.4
protobuf==3.7.1
opencv-python==3.4.4.19
h5py==2.9.0